<!DOCTYPE html>
<html lang="en">
<head>
	<% include _partials/meta.ejs %>

	<title>Error</title>

	<% include _partials/styles.ejs %>
</head>
<body>
<div class="container">
	<h1 class="text-danger">An unexpected error occurred.</h1>
	<br/>
	<dl>
		<dt>Message:</dt>
		<dd>
			<pre><%= message %></pre>
		</dd>
	</dl>
	<% if (locals.error) { if (error.status) { %>
	<dl>
		<dt>Status:</dt>
		<dd>
			<pre><%= error.status %></pre>
		</dd>
	</dl>
	<% } if (error.stack) { %>
	<dl>
		<dt>Stack:</dt>
		<dd>
			<pre><%= error.stack %></pre>
		</dd>
	</dl>
	<% } } %>
</div>

<% include _partials/scripts.ejs %>
</body>
</html>
