<!DOCTYPE html>
<html lang="en">
<head>
	<% include _partials/meta.ejs %>

	<title>ArchBox</title>

	<% include _partials/styles.ejs %>
</head>
<body>
<div class="jumbotron">
	<div class="container">
		<img class="header-img"
			 src="/images/ArchBox_text.svg"
			 onerror="this.onerror=null;this.src='/images/ArchBox_text.png';"/>
		<p>ArchBox is a privately run server, that connects multiple "boxes" in one server.</p>
	</div>
</div>
<div class="container">
	<% if (locals.error) { %>
	<div class="alert alert-danger"
		 role="alert">
		<%= locals.error %>
	</div>
	<% } %>
	<% if (Array.isArray(locals.services)) { %>
	<div class="card border-primary mb-3">
		<div class="card-body">
			<h3 class="card-title text-primary">Services</h3>
			<div class="row">
				<% locals.services.forEach(service => { %>
				<div class="col-md-6 col-xl-4 mb-3">
					<h5><%= service.name %></h5>
					<p><%= service.text %></p>
					<% if (Array.isArray(service.links)) { service.links.forEach(link => {%>
					<a class="card-link"
					   href="<%- link.url %>"><%= link.text %></a>
					<% }); } %>
				</div>
				<% }); %>
			</div>
		</div>
	</div>
	<% } %>
	<div class="row">
		<% if (locals.posts) { locals.posts.forEach(post => { %>
		<div class="col-xl-6">
			<div class="card mb-3">
				<div class="card-body">
					<% if (post.title) { %>
					<h3 class="card-title"><%= post.title %></h3>
					<% } if (post.createdOn) { %>
					<h6 class="card-subtitle mb-2 text-muted"><%= post.createdOn.format("Y-MM-DD h:mm:ss A") %></h6>
					<% } if (post.text) { %>
					<p class="card-text"><%= post.text %></p>
					<% } if (Array.isArray(post.links)) { post.links.forEach(link => { %>
					<a class="card-link"
					   href="<%- link.url %>"><%= link.text %></a>
					<% }); } %>
				</div>
			</div>
		</div>
		<% }); } %>
	</div>
</div>

<% include _partials/footer.ejs %>
<% include _partials/scripts.ejs %>
</body>
</html>
