<footer class="footer">
	<div class="container footer">
		<div class="row align-items-center footer">
			<div class="col">
				<p class="text-muted text-left">
					&copy; 2016-<%= (new Date()).getFullYear() %>
					<a href="https://archbox.xyz/"
					   target="_blank">ArchBox</a>.
				</p>
			</div>
			<div class="col">
				<p class="text-muted text-right">
					Checkout
					<a href="https://kiririn.io/"
					   target="_blank">Kiririn.io</a>.
				</p>
			</div>
		</div>
	</div>
</footer>