<meta charset="utf-8"/>
<meta name="generator"
	  content="NodeJS Express"/>
<meta name="generated_on"
	  content="<%- new Date().toISOString() %>"/>
<meta http-equiv="X-UA-Compatible"
	  content="IE=edge"/>
<meta name="viewport"
	  content="width=device-width, initial-scale=1"/>
<link rel="icon"
	  type="image/svg"
	  href="/images/ArchBox_logo.svg"/>
<link rel="icon"
	  type="image/png"
	  href="/images/ArchBox_logo.png"/>
<link rel="icon"
	  type="image/ico"
	  href="/images/ArchBox_logo.ico"/>