<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/moment/moment.min.js"></script>
<script src="/dist/popper/popper.min.js"></script>
<script src="/dist/angular/angular.min.js"></script>
<script src="/dist/bootstrap/js/bootstrap.min.js"></script>
<% if (locals.scripts) { locals.scripts.forEach((script) => { %>
<script src="<%- script %>"></script>
<% }); }%>