html {
	position: relative;
	min-height: 100%;

	body {
		margin-bottom: 60px;
		
		.header-img {
			max-height: 6rem;
			margin-left: -1rem;
		}

		.server-info-item {
			margin-bottom: 1.5em;

			&.system {
				.text-block {
					min-height: 4em;
				}
			}

			&.uptime {
				.text-block {
					min-height: 6em;
				}
			}

			.text-block {
				min-height: 2em;
				margin-bottom: 0.5em;
			}
		}

		div.body-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.navbar-brand-img {
			padding: 0;
			margin-top: -5px;
			margin-bottom: -5px;
		}

		.img-brand {
			max-height: 50px;
		}

		.card-padding {
			padding-bottom: 10px;
		}

		footer.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			background-color: #f5f5f5;

			div.footer {
				height: inherit;

				p {
					height: auto;
					margin: 0;
				}
			}
		}
		
		.image-wrapper {
			display: inline-block;
			height: 400px;
			overflow-y: hidden;
		}

	}
}
